@import '../global-variables.scss';

.header {

    &-section {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
        background-image : $card-background;
        border: none;

        &-position {
            position: sticky;
            top: 0;
            width: 100%;
            background: $form-background;
        }
    }

    &-banner {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    &-navigation {
        display: none;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;

        &-display {
            display: flex;
        }
    }




    &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100px;
            height: 75px;
            max-height: 100%;
            max-width: 100%;
        }
    }

    &-class {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: $submit-btn-background;

        h1 {
            font-size: 4em;
            font-family: cursive;
        }
    }
    
}