<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Travel App</title>

        <link rel="icon" href="./travel-4548127_640.png">
        <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;1,300;1,400&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">

    </head>

    
    <body>

        <nav id="navigation-section">

            <div class="navigation-mobile">

                <div class="navigation-modal">

                    <div class="close-btn-section">
                        <span id="close-btn-navigation" class="close-btn-class">&times;</span>
                    </div>

                    <div class="navigation-modal-items">

                        <a href="#" class="navigation-item"> Home</a>
                        <a href="#" class="navigation-item"> About Us </a>
                        <a href="#" class="navigation-item"> Sign In </a>
                        <a href="#" class="navigation-item"> Contact Us </a>

                    </div>
   
                </div>

                <div class="navigation-burger-items">

                    <div class="navigation-burger-item"></div>
                    <div class="navigation-burger-item"></div>
                    <div class="navigation-burger-item"></div>

                </div>

            </div>


            <div class = "navigation-desktop">

                <div class="navigation-items">

                    <a href="#" class="navigation-item"> Home</a>
                    <a href="#" class="navigation-item"> About Us </a>
                    <a href="#" class="navigation-item"> Sign In </a>
                    <a href="#" class="navigation-item"> Contact Us </a>

                </div>

            </div>

        </nav>

        <header class="header-section">

            <section class="header-banner">

                <div class ="header-image">
                    <img src = "./travel-4548127_640.png">
                </div>
    
                <div class="header-class">
                    <h1> Trip Planner </h1>
                </div>

            </section>

            <section class ="header-navigation">

                <div class = "navigation-desktop">

                    <div class="navigation-items">
    
                        <a href="#" class="navigation-item"> Home</a>
                        <a href="#" class="navigation-item"> About Us </a>
                        <a href="#" class="navigation-item"> Sign In </a>
                        <a href="#" class="navigation-item"> Contact Us </a>
    
                    </div>
    
                </div>

            </section>

            <section class = "header-navigation-mobile">
    
                    <div class="navigation-burger-items">
    
                        <div class="navigation-burger-item"></div>
                        <div class="navigation-burger-item"></div>
                        <div class="navigation-burger-item"></div>
    
                    </div>
    
                </div>

            </section>

        </header>

        <main id = "container">
            
                <section id="user-section">

                    <div class = "detail-section">
                        
                        <div class="form-section">
                            
                            <input type="text" placeholder="Enter your destination" id="destination" autofocus>

                            <div class="start-date-class">
                                <label id="start-date-label"> From </label>
                                <input type="date" id="date-picker" class="date-picker-class">
                            </div>
                            
                            <div class="end-date-class">
                                <label id="end-date-label"> To </label>
                                <input type="date" id="end-date-picker" class="date-picker-class">
                            </div>

                            <button id="submit-button"> Plan My Trip </button>

                        </div>
                        
                        <div class="error-section" ></div>

                    </div>
                        
                </section>    

                <section id="saved-trip-section">

                    <div class="saved-trip-heading"> My Trips </div>
                    <div class="saved-trips"></div>

                </section>

                <section id="location-section">

                    <div class="weather-detail-section">

                        <div class="weather-detail"></div>

                        <div class="location-image"></div>

                        <div class="image-modal">
                            
                            <div class="close-btn-section">
                                <span id="close-btn-image-modal" class="close-btn-class">&times;</span>
                            </div>

                            <img class="location-image-modal">
                        </div>

                    </div>

                    <div class="weather-summary-section"></div>

                </section>

                <footer id="footer-section">

                    <div>
                        This website is designed by Sankalp from DesignQore as part of Udacity Degree Program.
                        Photo Credits <a href="https://pixabay.com" target="_blank">PixaBay</a> and Gif from <a href="https://giphy.com" target="_blank"> Giphy </a>
                    </div>

                </footer>

                <a class="arrow-top" aria-label="Arrow to top">

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <title> Top Arrow </title>
                        <path d="M27.414 12.586l-10-10c-0.781-0.781-2.047-0.781-2.828 0l-10 10c-0.781 0.781-0.781 2.047 0 2.828s2.047 0.781 2.828 0l6.586-6.586v19.172c0 1.105 0.895 2 2 2s2-0.895 2-2v-19.172l6.586 6.586c0.39 0.39 0.902 0.586 1.414 0.586s1.024-0.195 1.414-0.586c0.781-0.781 0.781-2.047 0-2.828z">
                        </path>
                    </svg>

                  </a>
  
        </main>

    </body>

</html>
