<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Travel App</title>

    </head>

    
    <body>

        <header>

        </header>

        <main id = "container">

            <section id="user-section" class="box1">
                <section>
    
                    <div class="form-section">
                        <input type="text" placeholder="Enter your destination" id="destination">
                        <input type="date" id="date-picker">
                        <input type="submit" id="submit-button">
                    </div>
                    
                </section>

                <section class="saved-trip-section">

                    <div class="saved-trips">
                        Saved Trips
                    </div>

                </section>

            </section>

            <section id="location-section" class="box1">

                <div class="weather-detail-section">

                    <div class="weather-detail">
                        <!-- <h1> Weather Detail </h1> -->
                    </div>

                    <div class="location-image">

                    </div>

                </div>

                <div class="weather-save">
                    
                </div>


                <section>
                    <!-- <h1> Weather Summary </h1> -->
                    <div class="weather-summary-section">
    
                    </div>
                </section>

            </section>

        </main>

        <footer>
        </footer>

    </body>

</html>