<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Travel App</title>

    </head>

    
    <body>

        <header class="header-section">
            <div class="header-class">
                <h1> Trip Planner </h1>
            </div>
        </header>

        <main id = "container">

            <section id="user-section" class="box1">
   
                    <div class="form-section">
                        <input type="text" placeholder="Enter your destination" id="destination">
                        <input type="date" id="date-picker" class="date-picker-class">
                        <input type="date" id="end-date-picker" class="date-picker-class">
                        <button id="submit-button"> Plan My Trip </button>
                    </div>
                    
            </section>    

            <section id="saved-trip-section" class="box1">

                <div class="saved-trip-heading"> My Trips </div>
                <div class="saved-trips">
                </div>

            </section>

            <section id="location-section" class="box1">

                <div class="weather-detail-section">

                    <div class="weather-detail">
                        <!-- <h1> Weather Detail </h1> -->
                    </div>

                    <div class="location-image">

                    </div>

                </div>

                <div class="weather-summary-section">

                </div>


            </section>

        </main>

        <footer>
        </footer>

    </body>

</html>