@import './global-variables.scss';

.form-section {
    padding: $padding_8px;
    margin: $margin_8px;
    grid-area: form;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    #destination {
        line-height: 1.2;
        padding: $padding_8px;
        font-size: 1.25em;
        border-radius: $border-radius-value;
        margin-right: 32px;
        text-align: center;
    }

    .date-picker-class {
        font-size: 1.25em;
        padding: $padding_8px;
        border-radius: $border-radius-value;
        margin-right: 32px;
    }

    #submit-button {
        padding: $padding_8px;
        font-size: 1.25em;
        border-radius: $border-radius-value;
        background: $submit-btn-background;

        
        &:hover{
            cursor: pointer;
        }
    }

}