@import './global-variables.scss';

.form-section {
    padding: $padding_8px;
    margin: $margin_8px;
    grid-area: form;
    display: flex;
    flex-flow: column;
    grid-gap: 0.5em;
    grid-template-areas: "dest start-date end-date btn";
    justify-content: center;
    align-items: stretch;
    padding: 8px;
    grid-gap: 0.5em;

    .start-date-class {
        display: flex;
        flex-flow: row;
        grid-area: start-date;
        justify-content: space-evenly;
        align-items: center;
    }

    .end-date-class {
        display: flex;
        flex-flow: row;
        grid-area: end-date;
        justify-content: space-evenly;
        align-items: center;
    }

    #destination {
        line-height: 1.2;
        padding: $padding_8px;
        font-size: 1.25em;
        grid-area: dest;
        border-radius: $border-radius-value;
        text-align: center;
        background: $card-background;
    }

    .date-picker-class {
        font-size: 1.25em;
        padding: $padding_8px;
        border-radius: $border-radius-value;
        background: $card-background;
    }

    #submit-button {
        padding: $padding_8px;
        font-size: 1.25em;
        grid-area: btn;
        border-radius: $border-radius-value;
        background: $submit-btn-background;
        color: white;
        
        &:hover{
            cursor: pointer;
        }
    }

}