$padding_8px : 8px;
$margin_8px: 8px;

$form-background: #e5eaee;
$card-background: linear-gradient(to bottom, rgba(85,200,218,255),rgba(255,255,255,255),rgba(85,200,218,255));
$save-trip-background: linear-gradient(30deg, rgba(85,200,218,255),rgba(255,255,255,255));
$image-background: #87a7b6;
$remove-btn-hover-background: #778899;
$submit-btn-background: #2690c2;
$submit-btn-hover-background: rgba(85,200,218,255);
$border-radius-value: 0.5em;
$border-focus-value: 1px solid lightslategray;