@import './global-variables.scss';

#saved-trip-section {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    grid-area: trip;
    background: white;
}

.saved {
    &-trip-heading {
        display: none;
        padding: $padding_8px;
        text-align: center;
        margin: $margin_8px;
        font-size: 1.25em;

        &-display {
            display: block;
        }
    }

    &-trips {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        justify-content: flex-start;

    }

    &-trip {
        display: grid;
        grid-template-areas: "date location daysRemaining removeTrip";
        grid-gap: 0.5em;
        padding: $padding_8px;
        margin: $margin_8px;
        border-top: 1px solid rgb(193, 201, 209);
        border-radius: $border-radius-value;
        background: $save-trip-background;

        &-date {
            display: flex;
            grid-area: date;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;
        }

        &-daysRemaining {
            display: flex;
            grid-area: daysRemaining;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;
        }

        &-location {
            display: flex;
            grid-area: location;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;
    
        }

        &-remove {
            display: flex;
            padding: $padding_8px;
            grid-area: removeTrip;
            border-radius: $border-radius-value;
            background: $submit-btn-background;
            color: white;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            &:hover {
                cursor: pointer;
                background: $remove-btn-hover-background;
                color: black;
            }
    
        }

    }

}

.save-trip-btn {
    background: $submit-btn-background;
    color: white;
    font-size: 1.5em;
    border-radius: $border-radius-value;
    border-style: none;
    border-color: white;

    &:hover {
        cursor: pointer;
        color: black;
        background: $form-background;
    }

    &:focus {
        outline: none;
    }
}

