@import './global-variables.scss';

.weather-detail-section {
    display: flex;
    grid-area: detail;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-areas: 
    "detail-info detail-info detail-info location-image location-image location-image";
    margin: $margin_8px;
    padding: $padding_8px;

    

    &-background {
        background: $card-background;
        border-radius: $border-radius-value;
    }
}

.weather-detail {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: detail-info;
    padding: $padding_8px;
    margin: $margin_8px;

    img {
        max-height: 100px;
        max-width: 100px;
    }

}

.weather-detail-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.location-image {
    grid-area: location-image;

    img {
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 500px;
        border-radius: $border-radius-value;
        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
}

