@import './global-variables.scss';

.weather-detail-section {
    display: flex;
    grid-area: detail;
    flex-flow: row;
    justify-content: space-between;
    margin: $margin_8px;
    padding: $padding_8px;
}

.weather-detail {
    display: flex;
    flex-flow: column;
    padding: $padding_8px;
    margin: $margin_8px;

}


