@import '../global-variables.scss';

#navigation-section {
    padding: $padding_8px;
    background: $form-background;
}
.navigation-desktop {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: flex-end;
    & .navigation-items {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;

    }
    
}

.navigation-mobile {
    display: none;
    padding: $padding_8px*2;
}

.navigation-item{
    color: $submit-btn-hover-background;
    font-size: 1.25em;
    justify-content: stretch;
    margin: $margin_8px;
    text-decoration: none;
    &:hover {
        background: $remove-btn-hover-background;
        color: white;
    }
}

.navigation-modal {

    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    padding: $padding_8px*4;
    background: rgba($form-background,0.9);
    cursor: pointer;
    
    &-items {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        justify-content: flex-start;
    }
    
}

@keyframes navigation-modal-slide-in {

    from {
        transform: translateX(-200px);

    }

    to {
        transform: translateX(0);
    }

}


@keyframes navigation-modal-slide-out {

    from {
        transform: translateX(0);
      
    }

    to {
        transform: translateX(-200px);
    }

}  

.navigation-burger {

    &-items {
        display: none;
        flex-flow: column;
        justify-content: stretch;
        cursor: pointer;
        position: fixed;
        top: 15px;
        left: 10px;
        padding: 0 $padding_8px;
    }
    &-item {
        width: 1.5em;
        height: 0.25em;
        border-bottom: 0.2em solid $submit-btn-hover-background;
    }
    
}