@import '../global-variables.scss';

#location-section {

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    grid-area: location;
    grid-template-areas: 
    "detail detail detail detail detail detail"
    "summary summary summary summary summary summary";
    grid-gap: 0.8em;
    background: white;
    
}