@import '../global-variables.scss';

#user-section {

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    grid-area: user;
    grid-template-areas:
    'detail detail detail detail detail detail detail detail detail detail';
    grid-gap: 0.8em;
    background: white;
    padding: $padding_8px;
    background: $image_background url('../../images/fantasy-3502188_1920.jpg') no-repeat;
    background-size: 100% 100%;

}

.detail-section {

    display: flex;
    flex-flow: column;
    grid-area: detail;
    grid-template-areas: "form form form form form"
    "error error error error error";
    background: white;
    border: 1px solid rgb(193, 201, 209);
    border-radius: $border-radius-value;

}