@import '../global-variables.scss';

body {

    font-family: 'Roboto', sans-serif;

}

.box {

    border: 1px solid black;
    border-radius: $border-radius-value;

}

h1 {

    font-size: 2em;

}

#container {

    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-areas: "user user user user user user user user user user"
                         "trip trip trip trip location location location location location location"
                         "ft ft ft ft ft ft ft ft ft ft";
    grid-template-rows: 400px auto auto;
    justify-content: center;

}

.close-btn-class {

    position: absolute;
    top: 10px;
    right: 30px;
    color: $remove-btn-hover-background;
    font-size: 2em;
    font-weight: bold;
  &:hover {
      color: $submit-btn-hover-background;
      cursor: pointer;
  }
  &:focus{
      outline: none;
  }

}

.arrow-top {
    
    position: fixed;
    display: none;
    bottom: 5%;
    right: 2vw;
    background: $form-background;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    
    svg:hover {
        fill: $submit-btn-hover-background;
    }
    &-display {
        display: block;
    }

}