@import '../global-variables.scss';

#saved-trip-section {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    grid-area: trip;
    background: white;
}

.saved {
    &-trip-heading {
        display: none;
        padding: $padding_8px;
        text-align: center;
        margin: $margin_8px;
        font-size: 1.25em;

        &-display {
            display: block;
        }
    }

    &-trips {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 150px;
        grid-auto-rows: 150px;
        grid-gap: 0.5em;
    }

    &-trip {
        display: flex;
        flex-flow: column; 
        justify-content: center;
        align-items: center;
        grid-gap: 0.5em;
        margin: $margin_8px;
        border-top: 1px solid rgb(193, 201, 209);
        border-radius: $border-radius-value;
        background: $save-trip-background;
        width: 130px;
        height: 135px;

        &-date, &-daysRemaining,&location {
            display: block;
        }

        &-remove {
            padding: $padding_8px;
            border-radius: $border-radius-value;
            background: $submit-btn-background;
            color: white;
            &:hover {
                cursor: pointer;
                background: $form-background;
                color: black;
            }
    
        }

    }

}