@media screen and(max-width: 400px) {
    
    .form-section {

        #submit-button,.date-picker-class,#destination {
            font-size: 0.75em;
        }

        .start-date-class,.end-date-class {
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
    }

}

@media screen and(min-width: 401px) and (max-width: 600px) {
    
    .form-section {

        #submit-button,.date-picker-class,#destination {
            font-size: 1em;
        }

        .start-date-class,.end-date-class {
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
    }
    
}