.image-modal {
  
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(black,0.9);
  animation: zoom-image 0.75s;

  &-display {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

}

@keyframes zoom-image {

  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
  
}

.location-image-modal {

  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
  
}